html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
}
body {
  margin-bottom: 60px;
  background: rgb(63,26,94);
  background: linear-gradient(180deg, rgba(63,26,94,1) 50%, rgba(38,8,43,1) 100%);
}
:root {
  --jumbotron-padding-y: 3rem;
}
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
  background-color: #1c0a26;
  width: 70%;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron-heading {
margin-top: 20;
font-weight: 300;
}
.jumbotron .container {
  max-width: 40rem;
}
main {
  display: flex !important; 
  align-items: center !important; 
  justify-content: center !important;
}
img.logo {
  width: 100%;
  height: auto;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 60px;
  background: transparent !important;
  text-align:center !important;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2) !important;
    padding-bottom: calc(var(--jumbotron-padding-y) * 2) !important;
  }
  img.logo {
    width: 250px !important;
    height: 250px !important
  }
  main {
    margin-top: 20px !important;
  }
  .navbar {
   max-width: 70% !important;
   margin: 0 auto !important;
   text-align: center !important;
  }
  .btn-sm {
    height: 3% !important;
  }
}